@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700;800&display=swap');
@import '../index.css';

:root {
  --dark-theme-bg: #1f2937;
  --dark-theme-text: #d4d4d4;

  --accent: #991b1b;
  --accent-dark: #7f1d1d;
  --main: #737373;
  --gray: #2e2e2e;
  --main-dark: #525252;
  --main-light: #f5f5f5;

  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-l: 0px 12px 30px -10px rgba(0, 0, 0, 0.8);

  --border: 2px solid;

  --shadow-accent: 0px 12px 30px -10px rgba(153, 27, 27, 0.9);

  --dark-text: #262626;
  --dark-gray: #525252;
  --neutral-gray: #737373;
  --light-gray: #fafafa;
}

/* ----- GLOBAL ----- */

html,
body {
  height: 100%;
  font-family: 'Lexend', sans-serif;
  color: var(--gray);
  background-color: var(--main-light);
  scroll-behavior: smooth;
}

a {
  color: inherit;
}

.darkTheme {
  background-color: var(--dark-theme-bg) !important;
  color: var(--dark-theme-text) !important;
}

.section {
  width: 100%;
  height: 100vh;
}

.first {
  /* position: relative;
  top: 5rem; */
  padding-top: 4rem;
}

.last {
  height: calc(100vh - 8rem);
}

.container {
  max-width: 900px;
  height: 100%;
  margin: 0 auto;
  padding: 0 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
  border-bottom: 4px solid var(--accent);
  display: inline-block;
}

.subtitle {
  padding: 1rem 0;
}

.button {
  padding: 0.75rem 1.5rem;
  display: flex;
  align-items: center;
  border: var(--border) var(--accent);
  background-color: transparent;
  transition: 0.2s;
}
.button:hover {
  color: var(--main-light);
  background-color: var(--accent);
  box-shadow: var(--shadow-l);
}
