@import '../styles/Main.module.css';

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.titleContainer {
  text-align: end;
  padding-bottom: 2rem;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  border-bottom: 4px solid var(--accent);
  display: inline;
}

.content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 2rem;
}

.intro {
  text-align: end;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
}

.text {
  color: var(--main);
}
