@import '../styles/Main.module.css';

.form {
  margin: 0.5rem 0;
  padding: 0.5rem;
  width: 20rem;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .form {
    width: 31rem;
  }
}
.formContainer {
  margin: 0 auto;
}

.btnContainer button {
  margin: 2rem auto;
  text-align: center;
}

.form {
  margin: 0.5rem 0;
  padding: 0.5rem;
}

.darkThemeForm {
  margin: 0.5rem 0;
  padding: 0.5rem;
  background-color: var(--main-dark) !important;
  color: var(--main-light) !important;
}

input:-webkit-autofill.darkThemeForm {
  background-color: transparent !important;
  color: var(--main-light) !important;
}

input,
textarea {
  outline: none;
}

input:focus,
textarea:focus {
  border: 2px solid var(--accent);
  outline: none;
}
