@import '../styles/Main.module.css';

/* 'flex flex-col max-w-[600px] w-full my-0' */
.form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 600px;
}

.btnContainer {
  margin: 2rem auto;
}
