@import '../styles/Main.module.css';

.greeting {
  color: var(--accent);
  font-size: 1.25rem;
}

.subtitle {
  color: var(--main);
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1;
}

.description {
  padding: 1rem 0;
  max-width: 700px;
}

.btnContainer {
  margin: 0.5rem 0;
}
