@import '../styles/Main.module.css';

/* 'fixed w-full h-[80px] flex justify-between md:justify-end  items-center px-4 text-neutral-700 bg-stone-50 dark:bg-gray-800 dark:text-neutral-300' */

.header {
  position: fixed;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;

  background-color: rgba(255, 255, 255, 0.1); /* Прозрачный красный фон */
  backdrop-filter: blur(10px);
}

@media (min-width: 768px) {
  .header {
    justify-content: end;
  }
}

/* 'md:hidden flex flex-row' */
.socialLinks {
  display: flex;
}

@media (min-width: 768px) {
  .socialLinks {
    visibility: hidden;
  }
}

/* 'flex justify-center items-center px-0' */
.socialLinksItem {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  padding-right: 0;
}

/* 'flex justify-center items-center w-full text-neutral-600 dark:text-neutral-300 hover:text-red-700 hover:scale-110 duration-500' */

.socialLinksContent {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var (--main);
  transition: 0.5s;
}
.socialLinksContent:hover {
  color: var(--accent);
  transform: scale(1.2);
}

/* 'flex items-center p-[20px]' */

.socialLinksLink {
  display: flex;
  align-items: center;
  padding: 1rem;
}
