@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-[Lexend];
    /* @apply bg-neutral-50; */
    @apply bg-stone-50;
    @apply text-neutral-800;
  }
  li {
    @apply px-4;
    @apply cursor-pointer;
  }
}
.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  max-height: 150px;
}

.content-div:hover {
  /* background-image: linear-gradient(to right, rgb(127, 29, 29, 0.2), rgba(178, 178, 178, 0.7)); */
}

/* 
  #7f1d1d -- red-900
  text-neutral-800
  text-neutral-600
*/
