@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-[Lexend];
    /* @apply bg-neutral-50; */
    @apply bg-stone-50;
    @apply text-neutral-800;
  }
  li {
    @apply px-4;
    @apply cursor-pointer;
  }
}

:root {
  --dark-theme-bg: #1f2937;
  --dark-theme-text: #d4d4d4;
  --red: #ad2020;
  --dark-text: #262626;
  --dark-gray: #525252;
  --neutral-gray: #737373;
  --light-gray: #fafafa;
}

.dark-theme {
  background-color: var(--dark-bg);
  color: var(--dark-text);
}

.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  max-height: 150px;
}
